input[type="checkbox"] {
  & {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: $shadow-gradiant;
    background-color: $dark-background;
    width: 15px;
    height: 15px;
    border: 0;
    border-radius: 0.3em;
    outline: 0;
    cursor: pointer;
  }

  &:checked {
    background-color: $dark-color;
    border: 1px solid $sunny;
  }
}

input[type="radio"] {
  & {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: $shadow-gradiant;
    background-color: $dark-background;
    width: 15px;
    min-width: 15px;
    max-width: 15px;
    height: 15px;
    min-height: 15px;
    max-width: 15px;
    border: 0px;
    border-radius: 50%;
    outline: 0;
    margin: 0;
    cursor: pointer;
  }

  &:checked {
    background-color: $dark-color;
    border: 1px solid $sunny;
  }
}
