//theme foodie
$dark: #040609;
$dark-background: #1a2230;
$dark-color: #212c3d;
$font-color: #92abcd;
$light-background: #e5e5e5;
$light-color: #f1f1f1;
$sunny: #ff5e00;
$ruddy: #ff0028;
$water: #11ece5;
$transparent: transparent;
//shadow
$box-shadow-inset: inset 2px 2px 5px $dark-color,
  inset -5px -5px 10px $light-color;
$box-shadow: -5px -5px 20px $light-color, 5px 5px 20px $dark-color;
$shadow-gradiant: -0.1rem -0.1rem 0.2rem $light-color,
  0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.4);
$shadow-gradiant-inside: inset -6px -6px 9px $light-color,
  inset 6px 6px 9px rgba(0, 0, 0, 0.4);

//button
$button-color: $water;
$button-border-color: $water;
$button-hover-color: $transparent;
$button-active-color: $transparent;
$button-fonts-color: $font-color;
$button-fonts-active-color: $water;
$button-fonts-hover-color: $water;
$disabled-button-color: $transparent;
$disabled-font-color: $font-color;

//text title
$title-font-color: $water;
$subtitle-font-color: $font-color;
$chapter-font-color: $light-background;
$paragraph-font-color: $light-color;
$subparagraph-font-color: $light-color;
$subsubpara-font-color: $light-color;
$text-font-color: $font-color;
$span-font-color: $font-color;
