//HEADER
$header-height: 140px;
//SIDE-NAV
$sidenav-width: 310px;
$sidenav-menu-height: 60px;
//FORM

//FONT
$title-font-size: calc(1vh + 2vw + 5px);
$subtitle-font-size: calc(1vh + 1.5vw + 5px);
$chapter-font-size: calc(1vh + 1vw + 5px);
$paragraph-font-size: calc(1vh + 1vw + 2px);
$subparagraph-font-size: 1.25em;
$subsubpara-font-size: 1.25em;
$text-font-size: calc(1em - 3px);
$span-font-size: 1em;

//SCREEN
$mobile: 480px;
$tablet: 768px;
$small-screen: 1024px;
$large-screen: 1400px;
