@import "reset.scss";
@import "colors.scss";
@import "fonts.scss";
@import "sizes.scss";
@import "buttons.scss";
@import "checkbox.scss";
@import "text.scss";
@import "selects.scss";
@import "input.scss";
@import "container.scss";
@import "media.scss";
@import "modal.scss";
@import "tables.scss";

* {
  scrollbar-width: thin;
}
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-thumb {
  background-color: $dark-color;
  border-radius: 7px;
  border: 1px solid $font-color;
}
::-webkit-scrollbar-track-piece {
  background-color: $dark-background;
}
::-webkit-scrollbar-corner {
  background-color: $dark-background;
}
a {
  color: inherit;
  text-shadow: inherit;
}
hr {
  border-top: 1px solid $water;
  border-bottom: none;
}
